*.java linguist-detectable=true
*.scala linguist-detectable=true
*.c linguist-detectable=true
*.cpp linguist-detectable=true
*.pl linguist-detectable=true
*.js linguist-detectable=false
*.html linguist-detectable=false
*.css linguist-detectable=false
